@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@font-face {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

:root{
  --primary-color: #ffffff;
  --secondary-color: #f0f0f0;
  --tertiary-color: rgba(227,227,232,255);
  --text-color: rgb(85, 85, 85);
  --primary-accent-color: #007aff;
  --secondary-accent-color: #35c759;
}
/* *{
  outline: 1px solid blue;
} */
html{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin-top: 6em;
  background-color: var(--secondary-color);
  color: var(--text-color);
}


h1,
h2,
p,
li,
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.font-center{
  text-align: center;
}
.small-text{
  font-size: .7rem;
  font-weight: 800;
}
.accent-text{
  color: var(--secondary-accent-color);
}
.regular-p{
  margin-top: 1em;
  line-height: 1.7;
}
a{
  text-decoration: none;
  color: var(--text-color);
}
#root{
  max-height: 70%;
}

.width-container{
  width: 80%;
  margin: 0 auto;
}
.content{
  margin-bottom: 5em;
  height: 100%;
}


/* Footer */
.footer{
  background-color: var(--primary-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 1.5em;
  
}

.bottom-bar{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  
}

.footer-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
  margin-top: .6em;
  
}

.active-link{
  background-color: var(--text-color);
  color: var(--primary-color);
  border-radius: 15px;
}
.active-link:visited{
  color: var(--primary-color);
}
